@font-face {
  font-family: Roboto Mono;
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}

* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  /* top right bottom left*/
  padding: 2% 5% 2% 5%;
  line-height: 1.8;
  background-color: #161616;
}

header {
  font-size: 20px;
}

#greet {
  padding-top: 5%;
  color: #f1935c;
  text-align: center;
  font-weight: bold;
  display: block;
}

#name {
  color: #f1935c;
  text-align: right;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  padding-top: 10%;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #96e8c7;
  text-decoration: none;
  padding-left: 0.5%;
}

.topnav a:hover{
  font-weight: bold;
  font-size: larger;
	text-shadow: 1px 1px 10px #1f684c;
}
.topnav a.active {
  font-weight: bold;
  font-size: larger;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

#circles {
  padding-top: 20%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  header {
    font-size: 115%;
  }

  #greet {
    padding-top: 25%;
  }

  .topnav {
    padding-top: 30%;
  }

  #circles {
    padding-top: 50%;
    text-align: center;
  }
}