@font-face {
	font-family: Roboto Mono;
	src: url("/fonts/RobotoMono-Regular.ttf");
}

@font-face {
	font-family: Fira Sans;
	src: url("/fonts/FiraSans-Regular.ttf");
}

body {
	color: #eeeeee;
	background-color: #161616;
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.8;
	/* top right bottom left*/
	padding: 1%;
	font-size: 105%;
	transition: all 300ms ease;
}

header {
	font-family: Roboto Mono;
	color: #f1935c;
}

#title {
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;
}

#name {
	position: absolute;
	right: 5%;
	font-size: 140%;
}

main {
	/* top right bottom left*/
	margin: 0 15%;
}

main h3 {
	font-style: italic;
}

main p {
	text-align: left;
}

#about_section {
	background-color: #f1935c;
	margin: 10px;
}

.Project_section {
	overflow: auto;
	margin: 1%;
}

.projectImg {
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	margin-right: 20px;
	float: left;
}

ul {
	padding-left: 50px;
}

footer {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #cecece;
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	font-family: Roboto Mono;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #96e8c7;
	text-align: center;
	padding-left: 1.5%;
	text-decoration: none;
	transition: all 300ms ease-out;
}

.topnav a:hover {
	font-weight: bold;
	font-size: larger;
	text-shadow: 1px 1px 10px #1f684c;
}

.topnav a.active {
	font-weight: bold;
  	font-size: larger;
}

@media screen and (max-width: 800px) {
	header #name {
		position: relative;
		padding: 5px;
		float: right;
	}

	.topnav {
		width: 95%;
	}

	main {
		margin: 1.5%;
		padding: 5px;
	}
}

.light {
	background-color: #eeeeee;
	-webkit-filter: invert(100%);
    	filter: invert(100%);
}
