body {
	background-color: #161616;
	color: #cecece;
	font-family: Fira Sans, Mukta, Roboto, Arial, sans-serif;
	font-size: 115%;
	line-height: 1.8;
	/* top right bottom left*/
	padding: 1%;
}

header {
	font-family: Roboto Mono;
	color: #f1935c;
}

#greet {
	text-align: center;
}

#name {
	position: absolute;
	right: 5%;
	color: #f1935c;
}

main {
	/* top right bottom left*/
	border-radius: 20px;
	/* background-color: rgb(84, 115, 156); */
	margin-left: 15%;
	margin-right: 15%;
	padding: 1% 3%;

}

main h2 {
	font-style: italic;
}

main p {
	text-align: left;
}

#section {
	background-color: #f1935c;
	margin: 10px;
}

#Project_section {
	overflow: auto;
	margin: 5px;
}

#Project_section p {
	
}

#projectImg {
	width: 200px;
	height: 200px;
	background-color: aquamarine;
	margin-right: 20px;
	float: left;
}

ul {
	padding-left: 50px;
}

footer {
	padding-top: 3%;
	padding-bottom: 2%;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #cecece;
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	font-family: Roboto mono;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #96e8c7;
	text-align: center;
	padding-left: 1.5%;
	text-decoration: none;
}

.topnav a:hover {
	font-weight: bold;
}

.topnav a.active {
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	header #name {
		position: relative;
		padding: 15px;
		float: right;
	}

	body {
		font-size: 100%;
	}

	.topnav {
		width: 75%;
	}

	main {
		margin: 1.5%;
		padding: 5px;
	}

	#section {
		padding-left: 1.5%;
	}
}