* {
    padding: 0;
    margin: 0;
}

body {
    color: #cecece;
    background-color: #202020;
    font-family: Roboto, Arial, sans-serif;
    font-size: 115%;
    line-height: 1.5;
}

header {
    height: 200px;
    background-color: #161616;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */

}

h1 {
    text-align: center;
    padding-top: 100px; 
    font-family: Roboto Mono;
} 

footer {
    text-align: center;
    clear: both;
}

main {
    margin: 2% 8% 2% 8%;
    padding: 20px;
    background-color: #262626;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

main h2{
    font-style: italic;
    padding-left: 10px;
}

.descrp {
    margin: 0;
    padding: 0;
    text-align: center;
}

main p {
    margin: 2%;
    flex: auto;
    padding: 20px;
    text-align: left;
}

ul {
    padding-left: 8%;
}

img {
    border-radius: 1.5%;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: #161616;
    float: none;
    width: 100%;
    height: fit-content;

}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #cecece;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cecece;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #303030;
    color: #cecece;
}

.topnav h4 {
    position: fixed;
    right: 1%;
    padding: 15px;
    font-family: Roboto Mono;
}


/* Float four columns side by side */
.column {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 10px;
    text-align: center;
    background-color: #383838;
    width: min-content;
    border-radius: 1.5%;
}
